/* Styles généraux */
button.btn i {
  background: none;
  border: none;
  color: inherit;
  font-size: 20px;
  padding: 0;
}

button.btn:hover i {
  opacity: 0.7;
}

button.btn-warning, button.btn-success, button.btn-danger {
  background-color: transparent;
  border: none;
  padding: 0;
  color: inherit;
}

button.btn-warning:hover,
button.btn-success:hover,
button.btn-danger:hover {
  opacity: 0.7;
}

button.btn-link {
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0;
}

button.btn-link:hover {
  opacity: 0.7;
}

/* Style pour le tableau des produits */
table th, table td {
  vertical-align: middle;
}

/* Alignement des icônes de l'action */
.table .text-center {
  text-align: center;
}

/* Ajustement des champs dans le formulaire d'édition */
form .form-control {
  width: 100%;
}

form .mb-2 {
  margin-bottom: 1rem;
}
